@media(max-width:992px){
    .header .navbar{
        padding: 10px 0;
    }
    .header .navbar-toggler:focus{
        box-shadow: none;
    }
    .header .navbar-toggler{
        border-color: #ed4f2e;
        color: #ed4f2e
    }
    .header .navbar-toggler.collapsed .fa-bars{
        display: block;
    }
    .header .navbar-toggler.collapsed .fa-times{
        display: none;
    }
    .header .navbar-toggler .fa-times{
        display: block;
    }
    .header .navbar-toggler .fa-bars{
        display: none;
    }
    .main{
        padding: 160px 0;
    }
    .main .title{
        font-size: 33px;
    }
    .main .btn{
        padding: 13px 40px;
    }
    
    .projects .project-link{
        height: 215px;
    }
}
@media(max-width:768px){
    .site-title{
        font-size: 24px;
        margin-top: 50px;
    }
    .services .item{
        margin-top: 50px;
    }
    .services .item i{
        font-size: 40px;
    }
    
    .pricing .box{
        margin-top: 50px;
    }
    .pricing .box .status{
        padding: 20px 0;
    }
    .pricing .box .list{
        margin: 20px 0;
    }
    .pricing .box .btn{
        margin-bottom: 35px;
    }
    
    .projects .line{
        margin-bottom: 50px;
    }
    .contact form{
        padding: 50px 0;
    }
    .contact .input{
        padding: 20px;
        margin-bottom: 20px;
    }
    .footer .title{
        margin-top: 30px;
    }
}